.editSummary{
    height: 95%;
    vertical-align: middle;
    margin: 1%;
}
.transcripDiv{
    max-height: 50%;
    overflow-y: scroll;
    background-color: #F5F7FE;
    padding: 1%;
    margin-bottom: 5px;
    border-radius: 10px;
}